<div>
  <input
    type="checkbox"
    [checked]="item.done"
    (click)="onClickItem()"
    aria-label="Check item off"
  />
  &nbsp;
  <span
    *ngIf="!isEditing"
    [style.text-decoration]="item.done ? 'line-through' : ''"
    (click)="onClickItem()">
    {{item.title}}
  </span>
  <app-todo-item-form
    *ngIf="isEditing"
    [title]="item.title"
    (save)="updateItem($event)"
    (exit)="onClickEdit()">
  </app-todo-item-form>
  <button *ngIf="!isEditing" (click)="onClickEdit()">Edit</button>
  <button *ngIf="!isEditing" (click)="onClickDelete()">Delete</button>
</div>